<!-- Lazy Loading Component -->
<button (click)="loadAdmin()">Load Admin Component</button>
<button (click)="loadUser()">Load User Component</button>
<hr>

<!---------------------
**** Angular Forms ****
---------------------->

<!-- Exp 1 -->
<!-- <h2>Angular Template Driven Form</h2>
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div>
        <input name="email" type="email" ngModel #email="ngModel" required><br>
        <span *ngIf="email.invalid && email.touched" class="color-red">required*</span>
    </div>
    <br>
    <div>
        <input name="password" type="password" ngModel #password="ngModel" required><br>
        <span *ngIf="password.invalid && password.touched" class="color-red">required</span>
    </div>
    <br>
    <button type="submit" [disabled]="userForm.invalid">Login</button>
</form>
<br> -->

<!-- Exp 2 -->
<h2>Angular Reactive Form</h2>
<form [formGroup]="loginForm" (ngSubmit)="reactiveFormSubmit()">
    <div>
        <input name="email" type="email" id="email" placeholder="Email" ngModel formControlName="email"><br>
        <span *ngIf="email?.value=='' && email?.touched" class="color-red">required*</span>
        <span *ngIf="email?.value!='' && email?.invalid" class="color-red">Invalid Email!</span>
    </div>
    <br>
    <div>
        <input name="password" type="password" placeholder="Password" ngModel formControlName="password"><br>
        <span *ngIf="password?.value=='' && password?.touched;" class="color-red">required*</span>
        <span *ngIf="password?.value!='' && password?.invalid" class="color-red">Password must be 8 characters
            long!</span>
    </div>
    <br>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
<br>

<!-- form data -->
<div *ngIf="formData">
    Email: {{formData.email}}, Password: {{formData.password}}
</div>
<hr>

<!-- routing -->
<!-- <h2>Admin Routes</h2>
<ul>
    <li>
        <a routerLink="admin/login">Go to Login Page</a>
    </li>
    <li>
        <a routerLink="admin/list">Go to List Page</a>
    </li>
</ul>
<h2>User Routes</h2>
<ul>
    <li>
        <a routerLink="users/login">Go to Login Page</a>
    </li>
    <li>
        <a routerLink="users/list">Go to List Page</a>
    </li>
</ul>
<router-outlet></router-outlet> -->